# Deep Learning

In [11]:
# Import libraries

import numpy as np
import pandas as pd
import hvplot.pandas
from collections import Counter
from pathlib import Path
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.datasets import make_blobs, make_moons
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

import warnings
warnings.filterwarnings('ignore')

In [12]:
# Load the cleaned hotel booking data into the workbook and convert to pandas Dataframe
csv_path = Path('../Resources/cleaned_hotel_bookings.csv')

df = pd.read_csv(csv_path)
df.head()

,Unnamed: 0,hotel,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,meal,market_segment,reserved_room_type,deposit_type,customer_type,adr,total_of_special_requests,arival_date
0,2,Resort Hotel,7,27,0,1,1,BB,Direct,A,No Deposit,Transient,75.0,0,2015-07-01
1,3,Resort Hotel,13,27,0,1,1,BB,Corporate,A,No Deposit,Transient,75.0,0,2015-07-01
2,4,Resort Hotel,14,27,0,2,2,BB,Online TA,A,No Deposit,Transient,98.0,1,2015-07-01
3,5,Resort Hotel,14,27,0,2,2,BB,Online TA,A,No Deposit,Transient,98.0,1,2015-07-01
4,6,Resort Hotel,0,27,0,2,2,BB,Direct,C,No Deposit,Transient,107.0,0,2015-07-01

In [13]:
# Drop unamed row
df = df.drop(columns = ['Unnamed: 0'])

In [14]:
# Define features data
X = df.copy()
X = X.drop(columns=["adr"])
X.head()

,hotel,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,meal,market_segment,reserved_room_type,deposit_type,customer_type,total_of_special_requests,arival_date
0,Resort Hotel,7,27,0,1,1,BB,Direct,A,No Deposit,Transient,0,2015-07-01
1,Resort Hotel,13,27,0,1,1,BB,Corporate,A,No Deposit,Transient,0,2015-07-01
2,Resort Hotel,14,27,0,2,2,BB,Online TA,A,No Deposit,Transient,1,2015-07-01
3,Resort Hotel,14,27,0,2,2,BB,Online TA,A,No Deposit,Transient,1,2015-07-01
4,Resort Hotel,0,27,0,2,2,BB,Direct,C,No Deposit,Transient,0,2015-07-01

In [15]:
# Define target data
y = df["adr"].values
y = y.reshape(-1, 1)
y[:5]

array([[ 75.],
       [ 75.],
       [ 98.],
       [ 98.],
       [107.]])

In [4]:
# import preprocessing from sklearn
from sklearn import preprocessing

In [17]:
# view columns using df.columns
X.columns

Index(['hotel', 'lead_time', 'arrival_date_week_number',
       'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'meal',
       'market_segment', 'reserved_room_type', 'deposit_type', 'customer_type',
       'total_of_special_requests', 'arival_date'],
      dtype='object')

In [18]:
# 1. INSTANTIATE
# encode labels with value between 0 and n_classes-1.
le = preprocessing.LabelEncoder()


# 2/3. FIT AND TRANSFORM
# use df.apply() to apply le.fit_transform to all columns
X_2 = X.apply(le.fit_transform)
X_2.head()

,hotel,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,meal,market_segment,reserved_room_type,deposit_type,customer_type,total_of_special_requests,arival_date
0,1,7,26,0,1,1,0,3,0,0,2,0,0
1,1,13,26,0,1,1,0,2,0,0,2,0,0
2,1,14,26,0,2,2,0,6,0,0,2,1,0
3,1,14,26,0,2,2,0,6,0,0,2,1,0
4,1,0,26,0,2,2,0,3,2,0,2,0,0